include ../../partials/head.jade
include ../../mixins/toolbar.jade
.container.starter-template-high(style='background:white')
  +toolbar('A/B Test Config', [{btn:'btn-info',path:'/',text:'Back to PINGR'},{btn:'btn-info',path:'/benchmarks',text:'View Benchmarks'}])
  if message && message.error
    .alert.alert-danger.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.error
  if message && message.success
    .alert.alert-success.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.success
  table.table
    thead
      tr
        th Name
        th Description
        th Start date
        th Benchmark
        th Type of randomisation
        th Status
        th(style='width:280px') Actions
    tbody
      each test in tests
        tr
          td= test.name
          td= test.description
          td= test.startDate.toISOString().substr(0,10)
          td= test.benchmark
          td= test.randomisationType
          td= test.status
          td
            .btn-toolbar
              if(!test.status || test.status === 'new')
                a.btn.btn-primary(href='/ab/config/'+test._id) Configure
              if(test.status === 'configured')
                a.btn.btn-primary(href='/ab/config/'+test._id) Configure
                a.btn.btn-primary(href='/ab/start/'+test._id) Start
              if(test.status === 'running')
                a.btn.btn-primary(href='/ab/progress/'+test._id) View Progress
                a.btn.btn-primary(href='/ab/pause/'+test._id) Pause
              if(test.status === 'paused')
                a.btn.btn-primary(href='/ab/progress/'+test._id) View Progress
                a.btn.btn-primary(href='/ab/start/'+test._id) Resume
              if(test.status === 'complete')
                a.btn.btn-primary(href='/ab/progress/'+test._id) View Progress
                a.btn.btn-primary(href='/ab/delete/'+test._id) Delete
