<ul>
  <li class="perf-bullet"><b>{{performance.percentage}}%</b> ({{performance.fraction}}) {{{tagline}}}</li>
  <li class="perf-bullet">The target for this quality indicator is <b>{{target}}</b></li>
  <li class="perf-bullet perf-bullet-msg">{{{positiveMessage}}}</li>
</ul>
