<div class="panel panel-default">
  <div class="panel-body pastel-pink">
    <table class="table">
      <thead>
        <tr>
          <th>Indicator</th>
          <th>Performance</th>
          <th>Target</th>
          <th>Benchmark</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#indicators}}
        <tr class="standard-row" data-id="{{id}}">
          <td><strong>{{name}}</strong>
            <br> <a data-id="{{id}}" class="show-more">Show more <i class="fa fa-caret-down"></i></a></td>
          <td><strong>{{performance.percentage}}%</strong> ({{performance.fraction}})</td>
          <td>{{target}}</td>
          <td>{{benchmark}}</td>
          <td>{{#up}}<i class="fa fa-2x fa-caret-up"></i>{{/up}}{{^up}}<i class="fa fa-2x fa-caret-down"></i>{{/up}}</td>
          <td><span class="inlinesparkline">{{trend}}</span></td>
        </tr>
        <tr class="show-more-row" data-id="{{id}}">
          <td colspan="6">{{{description}}}
            <br><a data-id="{{id}}" class="show-more">Show less <i class="fa fa-caret-up"></i></a></td>
        </tr>
        {{/indicators}}
      </tbody>
    </table>
  </div>
</div>
