<h4>{{{header}}} {{#header}}(n={{n}}){{/header}}</h4>

<table class="table patient-list table-body-hidden">
  <thead>
    <tr>
      {{#header-items}}
      {{>header-item}}
      {{/header-items}}
    </tr>
  </thead>
  <tbody>
    <tr class="list-item" data-toggle="tooltip" data-placement="left"  title="Click for more information about this patient">
      <td style="min-width:130px">
        <button type="button" data-patient-id="{{patientId}}" data-clipboard-text="{{nhsNumber}}" data-content="Copied" data-toggle="tooltip" data-placement="right" title="Copy {{nhsNumber}} to clipboard." class="btn btn-xs btn-default btn-copy">
          <span class="fa fa-clipboard"></span>
        </button>
        1234567890
      </td>
      <td>2014-06-10</td>
    </tr>
  </tbody>
</table>
<div class="table-scroll">
  <table class="table patient-list table-head-hidden">
    <thead>
      <tr>
        {{#header-items}}
        {{>header-item}}
        {{/header-items}}
      </tr>
    </thead>
    <tbody>
      {{#patients}}
      <tr class="list-item patient-row-tooltip" data-toggle="tooltip" data-placement="left"  title="Click for more information about this patient">
        <td style="min-width:130px">
          <button type="button" data-patient-id="{{patientId}}" data-clipboard-text="{{nhsNumber}}" data-content="Copied" data-toggle="lone-tooltip" data-placement="right" title="Copy {{nhsNumber}} to clipboard." class="btn btn-xs btn-default btn-copy">
            <span class="fa fa-clipboard"></span>
          </button>
          {{nhsNumber}}
        </td>
        {{#items}}
        {{>item}}
        {{/items}}
      </tr>
      {{/patients}}
    </tbody>
  </table>
</div>
