include mixins/thumbs

if noSuggestions
  .col-md-12
    // REVIEW does the strong work in header
    h3
      | There are 
      strong currently 
      | no improvement action suggestions from PINGR because this patient has either met the quality standard or it is not relevant to them.
  //include mixins/personal-action-plan
else 
  .col-md-4.ps-child.ps-boilerplate
    ul.nav.nav-pills.nav-pills-icons.nav-pills-default.nav-stacked(role="tablist")
      #tab-plan-individual.panel.panel-default
      each suggestion, index in suggestions
        -var actionSelectorClass = ""
        if index == 0
          -actionSelectorClass = "active"
        li(class= actionSelectorClass)
          a(href="#" + suggestion.actionTextId role="tab" data-toggle="tab") #{suggestion.actionTextClean} 
  .col-md-8.shade
    .tab-content#advice-header
      each suggestion, index in suggestions
        
        -var actionTextClass = "tab-pane"
        if index == 0
          -actionTextClass = "active tab-pane"
        li.suggestion(class= actionTextClass, id=suggestion.actionTextId, data-id=suggestion.actionTextId, data-agree=""+suggestion.agree, data-indx=index)
          .col-md-12
            h3.text-info.text-center!= suggestion.actionText
            h4.text-center What do you think?
          .col-md-12
            +thumbs(suggestion)
            hr
          .col-md-12
            if suggestion.supportingText
              != suggestion.supportingText
              |Relevant indicators:
              ul
                each indicator in suggestion.indicatorListText
                  li
                    a(href='/#indicators/'+indicator.id.replace(/\./g,"/"))= indicator.text
              span
                p.pre-icon-text= "Number of points this is worth: " + suggestion.pointsPerAction.toFixed(1) + " "
                i.material-icons.text-rose(data-toggle='tooltip', data-placement='right', title='A patient is worth a number of percentage points for each indicator they are in. If a patient is in more than one indicator, these points are added together') help
  .col-md-12
    //include mixins/personal-action-plan
  //- table#individual-suggested-actions-table.table
  //-   thead
  //-     tr
  //-       th
  //-       th(style='width: 105px')
  //-   tbody
  //-      - var alt = false
      //- each suggestion, index in suggestions
      //-   if index === 3 && !visible
      //-     tr
      //-       td
      //-         a.show-more-than-3
      //-           | Show more than top 3 actions 
      //-           i.fa.fa-caret-down
      //  tr.suggestion(data-id=suggestion.actionTextId, data-agree=""+suggestion.agree, data-indx=index, class=alt ? 'alternate-row': '', style=(index<3 || visible) ? '' : 'display:none' )
      //    td
      //      span(data-subsection=suggestion.subsection)
      //        strong.black.f20
      //          != suggestion.actionText
              //- if suggestion.supportingText
              //-   br
              //-   a.show-more(data-id=suggestion.actionTextId)
              //-     | Show more 
              //-     i.fa.fa-caret-down
      //    td
      //      +thumbs(suggestion)
      //-   if suggestion.supportingText
      //-     tr.show-more-row(data-id=suggestion.actionTextId, class=alt ? 'alternate-row': '')
      //-       td(colspan='2')
      //-         != suggestion.supportingText
      //-         |Relevant indicators:
      //-         ul
      //-           each indicator in suggestion.indicatorListText
      //-             li
      //-               a(href='/#indicators/'+indicator.id.replace(/\./g,"/"))= indicator.text
      //-         span
      //-           = "Number of points this is worth: " + suggestion.pointsPerAction.toFixed(1) + " "
      //-           a(data-toggle='tooltip', data-placement='right', title='A patient is worth a number of percentage points for each indicator they are in. If a patient is in more than one indicator, these points are added together') What does this mean?
      //-         br
      //-         a.show-more(data-id=suggestion.actionTextId)
      //-           | Show less 
      //-           i.fa.fa-caret-up
      //-   - alt = !alt
      //- if visible
      //-   tr
      //-     td
      //-       a.show-less-than-3
      //-         | Show top 3 actions only 
      //-         i.fa.fa-caret-up     
//include mixins/personal-action-plan
