include mixins/thumbs

if noSuggestions
  p There are no improvement action suggestions from PINGR because this patient has either met the quality standard or it is not relevant to them.
else 
  table#individual-suggested-actions-table.table
    thead
      tr
        th
        th(style='width: 105px')
    tbody
      - var alt = false
      each suggestion, index in suggestions
        if index === 3 && !visible
          tr
            td
              a.show-more-than-3
                | Show more than 3 actions 
                i.fa.fa-caret-down
        tr.suggestion(data-id=suggestion.id, data-indx=index, class=alt ? 'alternate-row': '', style=(index<3 || visible) ? '' : 'display:none' )
          td
            span(data-subsection=suggestion.subsection)
              strong.black.f20!= suggestion.actionText
              if suggestion.supportingText
                br
                a.show-more(data-id=suggestion.id)
                  | Show more 
                  i.fa.fa-caret-down
          td
            +thumbs(suggestion)
        if suggestion.supportingText
          tr.show-more-row(data-id=suggestion.id, class=alt ? 'alternate-row': '')
            td(colspan='2')
              != suggestion.supportingText
              br
              a.show-more(data-id=suggestion.id)
                | Show less 
                i.fa.fa-caret-up
              small.v-small= suggestion.pointsPerAction
        - alt = !alt
include mixins/personal-action-plan
