.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modalLabel.modal-title= header
      .modal-body
        if item
          label You have disagreed with the following suggested action:
          p
          span(style='font-style:italic')= item
        form
          .form-group
            p
            label Why?
              each reason in reasons
                .radio
                  label
                    input(type='radio', name='reason', value=reason.reason, checked=reason.checked ? 'checked' : undefined, required='')
                    =reason.reason
          .form-group
            label
              ='Please tell us more' + hasReasons ? '- whatever your selection above:' : ''
            textarea.form-control(rows='3', style='resize:none', placeholder=placeholder)
          button.btn.btn-primary.save-plan(type='submit') Save
          if isUndo
            button.btn.btn-warning.undo-plan(type='button', data-dismiss='modal') Undo disagree
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
      .modal-footer
