//.panel.panel-default(data-intro="whats going on?! *bTut*" data-step="4")
//  .panel-body.pastel-pink
//    table.table
.card
  .card-header.card-header-icon(data-background-color="rose")
    i.material-icons assessment
  .card-content
    h4.card-title Overview Tables
    small.category An overview list of ***********
    .panel-body.overview-table
      table.table#overview-table
        thead.col-md-12
          tr
            th.col-md-3 Indicator
            th.col-md-1 Current Performance
            th.col-md-2 Salford Target
            th.col-md-2 Top 10% Benchmark
            th.col-md-2 Daily Trajectory
            th.col-md-2 Trend
        tbody.ps-child.ps-boilerplate.col-md-12
          - var alt=false
          each indicator in indicators
            tr(data-id=indicator.id,class=alt ? 'alternate-row': '',data-toggle='tooltip', data-placement='left', title='Click for more detail')
              td.col-md-3
                strong!= indicator.name
                br
                a.show-more(data-id=indicator.id)
                  | Show more 
                  i.fa.fa-caret-down
              td.col-md-1
                //strong(class=indicator.aboveTarget ? 'text-overPerform' : 'text-underPerform')= indicator.performance.percentage + '%'
                if isNaN(indicator.performance.percentage)
                  strong(class = 'text-underPerform') N/A
                else if indicator.aboveTarget
                  if ((indicator.benchmark*100).toFixed(0)) < indicator.performance.percentage
                    strong(class = 'text-topTen')= indicator.performance.percentage + '%'
                  else
                    strong(class = 'text-overPerform')= indicator.performance.percentage + '%'
                else
                  strong(class = 'text-underPerform')= indicator.performance.percentage + '%'
                  
                //strong(class=indicator.aboveTarget ? 'text-overPerform' : 'text-underPerform')= indicator.performance.percentage + '%'
                span= ' (' + indicator.performance.fraction + ')'
              td.col-md-2= indicator.target
              td.col-md-2= (indicator.benchmark*100).toFixed(0)+"%"
              td.col-md-2(style="text-align:center")
                if indicator.change==="up"
                  i.material-icons trending_up
                else if indicator.change==="down"
                  i.material-icons trending_down
                else
                  i.material-icons trending_flat
              td.col-md-2
                span.inlinesparkline= indicator.trend
            tr.show-more-row(data-id=indicator.id,class=alt ? 'alternate-row': '')
              td(colspan='6')!= indicator.description
                  br
                  a.show-more(data-id=indicator.id)
                    | Show less 
                    i.fa.fa-caret-up
            - alt = !alt

//- table
//- thead(style="display: block;")
//-   tr
//-     th Indicator
//-     th Current Performance
//-     th Salford Target
//-     th Top 10% Benchmark
//-     th Change from Yesterday
//-     th Trend
//- tbody.ps-child(style="max-height: 400px; display: block;")
//-   each indicator in indicators
//-     tr.standard-row
//-       td
//-         strong!= indicator.name
//-       td
//-         if isNaN(indicator.performance.percentage)
//-           strong(class = 'text-underPerform') N/A
//-         else if indicator.aboveTarget
//-           if ((indicator.benchmark*100).toFixed(0)) < indicator.performance.percentage
//-             strong(class = 'text-topTen')= indicator.performance.percentage + '%'
//-           else
//-             strong(class = 'text-overPerform')= indicator.performance.percentage + '%'
//-         else
//-           strong(class = 'text-underPerform')= indicator.performance.percentage + '%'
//-         span= ' (' + indicator.performance.fraction + ')'
//-       td 75%
//-       td 10%
//-       td(style='font-size:2em') A
//-       td(style='width:116px')
//- .table-scroll
