.card
  .card-header
    h4.card-title Quality Indicators
  .card-content#qs
    #accordion.panel-group(role="tablist", aria-multiselectable="true")
      .panel.panel-default
        each standard in standards
          .panel-heading(id="heading-" + (standard.indicatorId.replace('.','-')).replace('.','-'), role="tab")
            a(role="button", data-toggle="collapse", data-parent="#accordion", href="#" + (standard.indicatorId.replace('.','-')).replace('.','-'), aria-expanded="false", aria-controls=(standard.indicatorId.replace('.','-')).replace('.','-'))
              h2.panel-title(class=standard.targetMet ? 'text-success' : 'text-danger')
                =standard.display
                  i.material-icons keyboard_arrow_down
          .panel-collapse.collapse(role="tabpanel", aria-labelledby="heading-" + (standard.indicatorId.replace('.','-')).replace('.','-') id=(standard.indicatorId.replace('.','-')).replace('.','-'))
            .panel-body
              div
                !=standard.indicatorDescription
                br
                strong= "Reason for this patient " + (standard.targetMet ? "meet" : "miss") + "ing the target"
                br
                !=standard.why
              div
              if (standard.indicatorId === indicatorId && standards.filter(function(v){return !v.targetMet;}).length > 1)
                a.btn.btn-primary.btn-sm(href='/#patient/'+patientId) Showing actions for this indicator - click to show all
              else if (!standard.targetMet && standards.filter(function(v){return !v.targetMet;}).length === 1)
                span Currently showing actions for this indicator 
              else 
                if !standard.targetMet
                  a.btn.btn-info.btn-sm(href='/#patient/'+patientId+'/'+standard.indicatorId.replace(/\./g,"/")) Show actions for this indicator only       
              
      //- table.table.table-condensed
      //-   thead
      //-     tr
      //-       th Quality indicator
      //-       th(style="max-width:100px") Target met?
      //-       th(style="max-width:100px")
      //-       th(style="width:400px")
      //-   tbody
      //-     each standard in standards
      //-       tr(class=standard.targetMet ? 'success' : 'danger')
      //-         td
      //-           strong
      //-             = standard.display    
      //-         td
      //-           if standard.targetMet
      //-             i.fa.fa-fw.fa-check.text-success
      //-           else
      //-             i.fa.fa-fw.fa-times.text-danger
      //-         td
      //-           a.reason-link(href='#',data-id=standard.indicatorId) 
      //-             | Show more
      //-             i.fa.fa-caret-down       
      //-         td(style="text-align:right")
      //-           if (standard.indicatorId === indicatorId && standards.filter(function(v){return !v.targetMet;}).length > 1)
      //-             a.btn.btn-warning.btn-sm(href='/#patient/'+patientId) Showing actions for this indicator - click to show all
      //-           else if (!standard.targetMet && standards.filter(function(v){return !v.targetMet;}).length === 1)
      //-             span Currently showing actions for this indicator 
      //-           else 
      //-             if !standard.targetMet
      //-               a.btn.btn-info.btn-sm(href='/#patient/'+patientId+'/'+standard.indicatorId.replace(/\./g,"/")) Show actions for this indicator only
      //-       tr(data-id=standard.indicatorId,class='qs-show-more-row')
      //-         td(colspan=3)
      //-           !=standard.indicatorDescription
      //-           br
      //-           strong= "Reason for this patient " + (standard.targetMet ? "meet" : "miss") + "ing the target"
      //-           br
      //-           !=standard.why
