include ../partials/headMinimalCss.jade
.container.starter-template-high.c-text
  .btn-toolbar
    a.pure-button(href='/') Back to interface
    a.pure-button(href='/abadd') New A/B Test
  if message && message.error
    .alert.alert-danger.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.error
  if message && message.success
    .alert.alert-success.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.success
  table.pure-table.pure-table-bordered
    thead
      tr
        th Name
        th Description
        th Start date
        th Type of randomisation
        th Actions
    tbody
      each test in tests
        tr
          td= test.name
          td= test.description
          td= test.startDate
          td= test.typeOfRandomisation
          td
            .btn-toolbar
                a.pure-button.pure-button-primary(href='/abedit/') Edit
                a.pure-button.pure-button-primary(href='/abdelete/') Delete
