include ../partials/head.jade
.container.starter-template-high
  .btn-toolbar
    a.btn.btn-info(href='/') Back to interface
  table.table
    thead
      tr
        th User
        th Session
        th Event
        th Url
        th Time
        th Data
    tbody
      each event in events
        tr
          td
            a(href='/events/'+event.user)= event.user
          td(title=event.sessionId)= event.sessionId ? event.sessionId.substr(0,5)+"..." : ""
          td= event.type
          td= event.url
          td= event.date.getDate() + '/' + (event.date.getMonth()+1) + '/' + event.date.getFullYear() + ' ' + event.date.getHours() + ':' + (event.date.getMinutes() < 10 ? '0' : '') + event.date.getMinutes() + ':' + (event.date.getSeconds() < 10 ? '0' : '') + event.date.getSeconds()
          td= event.data.length>0 ? event.data : ''
