include ../partials/head.jade
.container-narrow.starter-template-high
  .btn-toolbar
    a.btn.btn-info(href='/') Back to PINGR
  if message && message.error
    .alert.alert-danger.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.error
  if message && message.success
    .alert.alert-success.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.success
  form(action='/emailpreference', method='post')
    .form-group
      label.radio.inline.control-label Send me an email..
      label.radio-inline
        input(type="radio" name="freq", value="1", checked=!user.emailFrequency || user.emailFrequency===1)
        | every week 
      label.radio-inline
        input(type="radio" name="freq", value="2", checked=user.emailFrequency===2) 
        | every 2 weeks
      label.radio-inline
        input(type="radio" name="freq", value="4", checked=user.emailFrequency===4) 
        | every 4 weeks
      label.radio-inline
        input(type="radio" name="freq", value="0", checked=user.emailFrequency===0) 
        | never
    .row
      .col-xs-12
        label(for="day") Send it on a..
          select.form-control(name="day")
            option(value="1",selected=!user.emailDay || user.emailDay===1) Monday
            option(value="2",selected=user.emailDay===2) Tuesday
            option(value="3",selected=user.emailDay===3) Wednesday
            option(value="4",selected=user.emailDay===4) Thursday
            option(value="5",selected=user.emailDay===5) Friday
            option(value="6",selected=user.emailDay===6) Saturday
            option(value="0",selected=user.emailDay===0) Sunday
        label(for="day") at..
          select.form-control(name="hour")
            - for(var time = 5; time < 23; time++)
              option(value=time,selected=(!user.emailHour && time===10) || user.emailHour===time)=( time < 10 ? "0" : "" )+time+":00"
      .col-xs-12
        span.help-block If you have a day with dedicated time for quality work then you might want this to be the day we send you emails.
    .row
      .col-xs-12
        label(for="indicatorIdsToInclude") If there are any indicators that you are NOT interested in uncheck them below:
        each indicator in indicatorList
          .checkbox
            label(data-toggle="tooltip", data-html="true", data-container="html", data-placement="right",title=indicator.description)
              input(type='checkbox', name='indicatorIdsToInclude', value=indicator._id, checked=!user.emailIndicatorIdsToExclude||user.emailIndicatorIdsToExclude.indexOf(indicator._id)===-1)
              = indicator.name
    button.btn.btn-purple.btn-block.history(type='submit')
      | Update 
      span.fa.fa-arrow-circle-right
include ../partials/footerWithTracking.jade