include ../partials/head.jade
.container-wide.starter-template-high(style="background-color: white")
  .btn-toolbar
    a.btn.btn-info(href='/') Back to PINGR
  h1 PINGR email preferences
  p 
    | You can configure PINGR to send you a regular email to highlight high priority patients that may need action. 
    a#sampleEmail(href='#',data-toggle="modal" data-target="#myModal") Click here to preview a sample email
  hr
  if message && message.error
    .alert.alert-danger.alert-dismissible.alert-autoclose.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.error
  if message && message.success
    .alert.alert-success.alert-dismissible.alert-autoclose.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.success
  form#emailPrefs(action='/emailpreference', method='post')
    .form-group
      .row
        .col-sm-3(style="text-align:right")
          label.control-label Send me an email...
        .col-sm-9
          label.radio-inline
            input(type="radio" name="freq", value="1", checked=!user.emailFrequency || user.emailFrequency===1)
            | every week 
          label.radio-inline
            input(type="radio" name="freq", value="2", checked=user.emailFrequency===2) 
            | every 2 weeks
          label.radio-inline
            input(type="radio" name="freq", value="4", checked=user.emailFrequency===4) 
            | every 4 weeks
          label.radio-inline
            input(type="radio" name="freq", value="0", checked=user.emailFrequency===0) 
            | never
    .row
      .col-xs-offset-3.col-xs-9
        span.help-block If you have a day with dedicated time for quality work then you might want this to be the day we send you emails.
    .row.form-group
      .col-sm-3(style="text-align:right")
        label(for="day") Send it on a...
      .col-sm-3
        select.form-control(name="day")
          option(value="1",selected=!user.emailDay || user.emailDay===1) Monday
          option(value="2",selected=user.emailDay===2) Tuesday
          option(value="3",selected=user.emailDay===3) Wednesday
          option(value="4",selected=user.emailDay===4) Thursday
          option(value="5",selected=user.emailDay===5) Friday
          option(value="6",selected=user.emailDay===6) Saturday
          option(value="0",selected=user.emailDay===0) Sunday
      .col-sm-1
        label(for="day") at...
      .col-sm-2
        select.form-control(name="hour")
          - for(var time = 5; time < 23; time++)
            option(value=time,selected=(!user.emailHour && time===10) || user.emailHour===time)=( time < 10 ? "0" : "" )+time+":00"
    .row
      .col-xs-12
        label(for="indicatorIdsToInclude") If there are any indicators that you would NOT like to receive emails about, please uncheck them below:
    each indicator,i in indicatorList
      .row
        .col-md-12.col-lg-6
          .checkbox
            label.big-checkbox-label
              input.big-checkbox(type='checkbox', name='indicatorIdsToInclude', value=indicator._id, checked=!user.emailIndicatorIdsToExclude||user.emailIndicatorIdsToExclude.indexOf(indicator._id)===-1)
              = indicator.name
        if i+1 < indicatorList.length
          .col-md-12.col-lg-6
            .checkbox
              label.big-checkbox-label
                input.big-checkbox(type='checkbox', name='indicatorIdsToInclude', value=indicatorList[i+1]._id, checked=!user.emailIndicatorIdsToExclude||user.emailIndicatorIdsToExclude.indexOf(indicatorList[i+1]._id)===-1)
                = indicatorList[i+1].name
        - i++
    .row(style="padding-top:15px")
      .col-xs-12
        label(for="patientsToInclude") Emails will be sent for the following groups of patients. Please uncheck any boxes you do NOT want to receive emails about:
    each patientToInclude in patientsToIncludeList
      .row
        .col-xs-12
          .checkbox
            label.big-checkbox-label
              input.big-checkbox(type='checkbox', name='patientsToInclude', value=patientToInclude.id, checked=!user.patientTypesToExclude||user.patientTypesToExclude.indexOf(patientToInclude.id)===-1)
              = patientToInclude.description
    .row
      .col-xs-12
        #errorAlert.alert.alert-danger.alert-dismissible.fade-in(role="alert", style="display:none")
          button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") ×
          p#errors
    button.btn.btn-purple.history(type='submit')
      | Update 
      span.fa.fa-arrow-circle-right

// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.modal-lg.modal-dialog-top.modal-fit(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Example email
      .modal-body
        #modalLoader
          i.fa.fa-square.fa-spin 
          |  Loading email...
        #modalContent
include ../partials/footerWithTracking.jade
