include ../partials/head.jade
.container.starter-template-high
  .btn-toolbar
    a.btn.btn-info(href='/') Back to interface
    a.btn.btn-info(href='/adduser') Add User
  table.table
    thead
      tr
        th Full name
        th Email
        th Practice
        th User roles
        th Actions
    tbody
      each user in users
        tr
          td= user.fullname
          td= user.email
          - if(user.practiceNameNotAuthorised)  
            td= user.practiceNameNotAuthorised + (user.practiceIdNotAuthorised ? " (" + user.practiceIdNotAuthorised + ")" : "")
          - else
            td= user.practiceName + (user.practiceId ? " (" + user.practiceId + ")" : "")
          td= user.roles.indexOf("admin") > -1 ? "Admin" : ""
          td
            .btn-toolbar
              - if(user.practiceNameNotAuthorised)  
                a.btn.btn-success(href='/authorise/'+user.email) Authorise
                a.btn.btn-danger(href='/reject/'+user.email) Reject
              - else
                a.btn.btn-success(href='/edit/'+user.email) Edit
                a.btn.btn-warning(href='/reset/'+user.email) Reset password
                a.btn.btn-danger(href='/delete/'+user.email) Delete
  a.btn.btn-info(href='/adduser') Add User
